{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5">
            <div class="">
                <a class="btn btn-secondary m-1 ms-0" href="{{ path('app_product_index') }}">back to list</a>
            </div>
            <hr>
            <h1 class="text-light">Edit Product</h1>

            {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
